* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}
:root {
  --main-background-color: rgb(27, 16, 39);
  --primary-font-color: rgb(244, 233, 233);
  --secondary-font-color: rgb(37, 30, 45);
  --btn-primary-color: rgb(175, 82, 138);
  --active-color: rgb(172, 39, 119);
  --border-color: rgb(87, 75, 75);
}
body {
  background-color: var(--main-background-color);
}
.container {
  height: 80vh;
  width: 70%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}
.section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
}
h1 {
  font-size: 4.4rem;
  color: var(--primary-font-color);
}
h4 {
  visibility: hidden;
  font-size: 7.4rem;
}
h3 {
  font-size: 2rem;
}

.btn {
  height: 6rem;
  width: 20rem;
  font-size: 2.5rem;
  font-weight: 550;
  color: var(--secondary-font-color);
  border-radius: 0.8rem;
  background-color: var(--btn-primary-color);
  border: 0.1rem solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--active-color);
}
.section-display {
  height: 50vh;
  width: 60%;
  margin: 5rem auto;
  display: flex;
}
.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 2.4rem;
  padding: 2rem 2rem;
  color: var(--secondary-font-color);
  background-color: rgb(155, 109, 147);
  transition: all 0.5s;
  width: 15%;
}
.left-side h5,
.right-side h5 {
  font-size: 6.4rem;
}
.game-display {
  height: 50vh;
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 0.2rem solid var(--border-color);
}
.box {
  height: 100%;
  width: 100%;
  border: 0.2rem solid var(--border-color);
  cursor: pointer;
}
p {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  color: var(--primary-font-color);
  font-weight: 600;
}
.active {
  background-color: var(--active-color);
}
.winner-item {
  background-color: rgb(18, 10, 27);
  transition: all 1s;
}
.winner-item p {
  color: var(--active-color);
}
.winner-player {
  background-color: rgb(24, 143, 68);
}
.winner-player h4 {
  visibility: visible;
}
